# RPC endpoints
RPC_CCHAIN=
RPC_DFK=
RPC_BEAM=

# Deployer/sender private key (0x...)
PRIVATE_KEY=

# Teleporter messenger contract addresses per network
TELEPORTER_MESSENGER_CCHAIN=
TELEPORTER_MESSENGER_DFK=
TELEPORTER_MESSENGER_BEAM=
